<div class="flex flex-col gap-5 mx-5">

  <div class="card glass w-full">
    <div class="card-body">
      <h2 class="card-title">{{title}}</h2>
      <p class="italic text-xs">Created by {{user.name}} on {{format_date date_created}}</p>
      <div class="whitespace-pre-wrap">
        {{text}}
      </div>
    </div>
  </div>

  <h2 class="text-xl font-bold">Comments</h2>

  {{#each comments as |comment|}}
    <div class="chat chat-start">
      <div class="chat-header">
        {{comment.user.name}}
      </div>
      <div class="chat-bubble whitespace-pre-wrap">{{comment.text}}</div>
      <div class="chat-footer opacity-50">
        {{format_date comment.date_created}}
      </div>
    </div>
  {{/each}}

  <div class="form-control">
    <div class="block">
      <span class="label-text">New Comment (255 max)</span>
      <textarea
        id="newComment"
        class="textarea textarea-bordered h-24 w-full hover:bg-white focus:bg-white"
        placeholder="Type a new comment..."
        {{#unless isLogged}} disabled {{/unless}}
      ></textarea>
    </div>
    <label class="label">
      <button id="newCommentBtn" class="btn btn-primary w-full label-text-alt">submit</button>
    </label>
  </div>

</div>

<script>const post_id = {{id}}</script>
<script src="/functions/post.js"></script>